/* Modal style */

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
	border-collapse: collapse;
	border-radius: 25px;
	position: relative;
	background-color: #ccc;
	margin: auto;
	padding: 0;
	width: 50%;
	opacity: 0.9;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.3s;
	animation-name: animatetop;
	animation-duration: 0.3s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	border-radius: 25px;
	padding: 2px 16px;
	background: #333;
	opacity: 0.8;
	color: white;
}

.modal-body {
	text-align: center;
	border-radius: 25px;
	padding: 2px 16px;
}

.modal-footer {
	border-radius: 25px;
	padding: 2px 16px;
	background: #333;
	opacity: 0.8;
	color: white;
}
/*             */

.confirm {
	border-radius: 25px;
	background-color: #444;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 100%;
}

.confirm:hover {
	background-color: #aaaaaa;
	color: black;
}

.chooseAppointment {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: #555;
	padding: 12px;
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	width: 170px;
	float:right;
}

.chooseAppointment:hover {
	background-color: #bbbbbb;
	color: black;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-family: verdana;
	text-align: left;
	opacity: 0.7;
	table-layout: fixed;
	cursor: default;
}

th{
	opacity: 1;
	z-index: 1;
	padding: 8px;
	background-color: #555;
    color: #ffffff;
    font-size: 1.5em;
}

tr:nth-child(even) {
	background: #ccc;
}

tr:nth-child(odd) {
	background: #ddd;
}

td {
	font-size: 0.9em;
	padding: 8px;
}